@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
nav{
    background:#304786;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', sans-serif;
  }
  nav.sticky{
    background: #4070f4;
    padding: 13px 0;
  }
  nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color:antiquewhite;
  }
  nav.sticky .navbar .logo a{
    color: #fff;
  }
  nav .navbar .menu{
    display: flex;
    position: relative;
  }
  nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
  }
  .navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
  }
  .navbar .menu a:hover{
    color: #7193ee;
  }
  nav.sticky .menu a{
    color: #FFF;
  }
  nav.sticky .menu a:hover{
    color: #0E2431;
  }
  .navbar .media-icons a{
    color: #f8f9fc;
    font-size: 18px;
    margin: 0 6px;
  }
  .navbar .media-icons a:hover{
    color:#6e93f7;
  }
  nav.sticky .media-icons a{
    color: #FFF;
  }

  .navbar .menu li a{
    display: block;
    margin: 10px;
    font-size: 23px;
    color: whitesmoke;
  }

  .basic-info img{
    width: 430px;
    margin: 30px 30px 30px 0;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
  }

  .basic-info {
    font-family: 'Ubuntu', sans-serif;
    padding: 100px 40px 40px;
    max-width: 600px;
    
  }
  .basic-info text {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  body{
      background: rgb(184, 199, 248);
  }
  .basic-info1{
    font-size: 25px;
    color: #0E2431;
  }
  .basic-info2{
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .basic-info3{
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
  }
  .basic-info4{
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
  }

  tr{
      text-align: left;
      
  }
  th{
    width: 500px;
  }

.button{
    background-color: #0c0661; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


section{
    padding-top: 5px;
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-right:80px;
  }
  section .title span{
    color: #0E2431;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
    padding-top: 80px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
  }
  section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .about-details .right{
    width: 90%;
  }
  section  .topic{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-details .right p{
    text-align: justify;
    color: #0E2431;
  }
  section .button{
    margin: 16px 0;
    
  }
  .Bcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-left: 880px;
  }
  
  .skills .content{
    padding: 5px 0;
  }
  .skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills-details .text{
    width: 50%;
  }
  .skills-details p{
    color: #0E2431;
    text-align: justify;
  }
 
 .skills-details .boxes{
   width: 45%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .skills-details .box{
   width: calc(100% / 2 - 20px);
   margin: 20px 0;
 }
 .skills-details .boxes .topic{
   font-size: 20px;
   color: #4070f4;
 }
 .skills-details .boxes .per{
   font-size: 60px;
   color: #4070f4;
 }

  .contact .content{
    margin: 0 auto;
    padding: 50px 0;
  }
  .contact .text{
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .contact .topic{
      padding-right:50px;
  }
  
  .address{
      width: 70%;
      display: flex;
      justify-content: space-between;
      
}
.social a{
  color: #31051f;
  font-size: 30px;
  margin: 0 6px;
}
.social a :hover{
  color: #b9829e;
}